// Styling for the services section
.service-item-image {
  width: 128px;
  height: 128px;
  margin: auto;
  border-radius: 50%;
  border: groove 1px yellow;
}
.service-item-heading {
  margin: 15px 0;
  text-transform: none;
}
